*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;


}
#card{
    width: 280px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    height: 400px;
    padding: 150px;
    
}
#storiyan{
height: 120px;
width: 100%;
white-space: nowrap;
padding: 15px;
border-bottom: 1px solid #555;
overflow-x:auto;
overflow-y: hidden;


}
.story{
    /* display: flex; */
    height: 100px;
    border-radius: 50%;
    width: 90px;
    border: 3px solid red;
    overflow: hidden;
    display: inline-block;

}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}