*{
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}
.container{
  height: 100px;
  width: 50%;
  color:black;
  background-color:lightblue;
  padding: 200px;
  font-size: 20px;
  margin: 100px;

}
.container p{
  font-size: 30px;
  padding: 50px;
  margin: 10px;
  /* margin-right: 10px; */
  margin-right: 10%;
  /* padding-right: 50px; */
  
}

